.app-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  
  .app-maps-container {
    width: 50vw;
    height: 100%;
  }
  
  .app-searchbox-container {
    width: 50vw;
  }
  .cords
  {
    display: flex;
    margin-top: 50px;
    /* justify-content: space-around */
    /* margin-right: 25px; */
    /* background-color: blueviolet; */
    
  }
  .cordsVal
  { 
    display: flex;
    justify-content:space-around;
    /* background-color: aqua; */
    width: 52%;
    
    
  }
  

  .weatherCard
  {
    margin-left: 40px;
    
    margin-bottom: 20px;
  }
  